# PROYECTO FINAL GRUPAL  - NBA-StatVision - Lesiones

### Importacion de librerias

In [1]:
import pandas as pd 
import numpy as np

Importamos dataframe "play_by_play" pero solo leemos la primer fila que es el nombre de la columna

In [2]:
## creamos variable para alojar la ruta del archivo
ruta_archivo_csv = r'C:\Users\Fernando\Desktop\CSV de NBA\archive\csv\play_by_play.csv'

# df = pd.read_csv(ruta_archivo_csv)

## Leemos solo la primer fila con el nombre de las columnas.
def obtener_nombre_columnas(ruta_archivo_csv):
    
    columnas = pd.read_csv(ruta_archivo_csv, nrows=0).columns.tolist()
    return columnas

Vemos los nombres de las columnas de "play_by_play" (esto es porque nos trae la primer fila del dataset)

In [3]:
primera_fila = obtener_nombre_columnas(ruta_archivo_csv)
# mostramos las columnas:
print("Columnas del archivo 'play_by_play': ")
for col in primera_fila:
    print("-", col)

Columnas del archivo 'play_by_play':
- game_id
- eventnum
- eventmsgtype
- eventmsgactiontype
- period
- wctimestring
- pctimestring
- homedescription
- neutraldescription
- visitordescription
- score
- scoremargin
- person1type
- player1_id
- player1_name
- player1_team_id
- player1_team_city
- player1_team_nickname
- player1_team_abbreviation
- person2type
- player2_id
- player2_name
- player2_team_id
- player2_team_city
- player2_team_nickname
- player2_team_abbreviation
- person3type
- player3_id
- player3_name
- player3_team_id
- player3_team_city
- player3_team_nickname
- player3_team_abbreviation
- video_available_flag

Este data set no tiene datos de fecha, solo 'game_id', entonces deberemos buscar en otro dataset, si hay game_id con fechas.

# ______________________________________________________________________-

Buscamos en el dataset 'game_info' para ver si contiene una columna de fechas.

In [37]:
## Definimos la ruta donde se encuentra
ruta_game_info = r'C:\Users\Fernando\Desktop\CSV de NBA\archive\csv\game_info.csv' 

## Leemos el dataset
df = pd.read_csv(ruta_game_info)

## Lo mostramos 
df.head(2000)

       game_id   game_date  attendance game_time
0     24600001  1946-11-01         NaN       NaN
1     24600003  1946-11-02         NaN       NaN
2     24600002  1946-11-02         NaN       NaN
3     24600004  1946-11-02         NaN       NaN
4     24600005  1946-11-02         NaN       NaN
...        ...         ...         ...       ...
1995  25200088  1952-12-05         NaN       NaN
1996  25200090  1952-12-06         NaN       NaN
1997  25200092  1952-12-06         NaN       NaN
1998  25200091  1952-12-06         NaN       NaN
1999  25200089  1952-12-06         NaN       NaN

[2000 rows x 4 columns]

Como tiene columna de fechas, vamos a filtrar los id que estén entre 2013 y 2023

In [39]:
# Cargamos nuevamente el data set, para "parsear" la columna 'game_date'.
df_games = pd.read_csv(ruta_game_info, parse_dates=['game_date'])

# Convertimos al formato fecha.
# df_games['game_date'] = pd.to_datetime(df_games['game_date'])
df_games['game_date'] = pd.to_datetime(df_games['game_date'], format='%Y-%m-%d')

print(df_games['game_date'].dtype)


# Filtrar por fechas:
games_filtred = df_games [
    (df_games['game_date'] >= '2012-10-30') &
    (df_games['game_date'] <= '2023-12-06')
]

# obtener el set de 'game_id' válidos
game_ids_validos = set(games_filtred['game_id'])
print(f'Cantidad de partidos entre 2013 y 2023: {len(game_ids_validos)}')

# Muestro los tipos de datos:
for columna in df_games.columns:
    print(columna)
    print(df_games[columna].describe())
    print('------------------------------------')

datetime64[ns]
Cantidad de partidos entre 2013 y 2023: 12405
game_id
count    5.805300e+04
mean     2.579790e+07
std      6.331314e+06
min      1.050000e+07
25%      2.130028e+07
50%      2.590030e+07
75%      2.880075e+07
max      4.980009e+07
Name: game_id, dtype: float64
------------------------------------
game_date
count                            58053
mean     1995-08-05 03:39:01.646426496
min                1946-11-01 00:00:00
25%                1983-04-24 00:00:00
50%                1998-02-17 00:00:00
75%                2010-11-26 00:00:00
max                2023-06-12 00:00:00
Name: game_date, dtype: object
------------------------------------
attendance
count     52673.000000
mean      15097.689158
std        5142.654175
min           0.000000
25%       12260.000000
50%       16205.000000
75%       18700.000000
max      200049.000000
Name: attendance, dtype: float64
------------------------------------
game_time
count     29942
unique      144
top        2:13
freq       1302
Name: game_time, dtype: object
------------------------------------

Guardo los cambios en el archivo

In [40]:
df_games.to_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\archive\csv\game_info.csv', index=False)

# _________________________________________________________________________________________

 Uso de Chunksize para filtrar el dataset de 'play_by_play' con los 'game_id' obtenidos de 'game_info'

In [11]:
# Creamos una lista para los Chunks

chunks = []

for chunk in pd.read_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\archive\csv\play_by_play.csv', chunksize=100000):
    chunk_filtrado = chunk[chunk['game_id'].isin(game_ids_validos)]
    chunks.append(chunk_filtrado) ## llena la lista 

# Concatenamos los chunks
play_by_play_filtrado = pd.concat(chunks, ignore_index=True)

## mostramos el dataset filtrado
print(play_by_play_filtrado.shape)
print(f'Cantidad de juegos entre 2013 y 2023: {len(play_by_play_filtrado)}')
play_by_play_filtrado.head()

(5228811, 34)
Cantidad de juegos entre 2013 y 2023: 5228811

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,41200161,0,12,0,1,5:41 PM,12:00,NaN,Start of 1st Period (5:41 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,41200161,1,10,0,1,5:41 PM,12:00,Jump Ball Koufos vs. Bogut: Tip to Lawson,NaN,NaN,...,Warriors,GSW,4.0,201951,Ty Lawson,1.610613e+09,Denver,Nuggets,DEN,0
2,41200161,2,2,42,1,5:42 PM,11:40,MISS Fournier Driving Layup,NaN,Bogut BLOCK (1 BLK),...,NaN,NaN,5.0,101106,Andrew Bogut,1.610613e+09,Golden State,Warriors,GSW,0
3,41200161,3,4,0,1,5:42 PM,11:39,NaN,NaN,Bogut REBOUND (Off:0 Def:1),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,41200161,4,2,1,1,5:42 PM,11:27,NaN,NaN,MISS Lee 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

Guardamos el dataset en un archivo nuevo de .CSV.
Se denominará 'juego_por_juego.csv'

In [12]:
play_by_play_filtrado.to_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\archive\csv\juego_por_juego.csv', index=False)
#Se guarda el archivo nuevo ya con los id de juego pertenecientes al rango de fecha que especificamos.

Visualizacion de la tabla juego_por_juego

In [13]:
## mostramos el dataset filtrado
print(play_by_play_filtrado.shape)
play_by_play_filtrado.head(1000)

(5228811, 34)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,41200161,0,12,0,1,5:41 PM,12:00,NaN,Start of 1st Period (5:41 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,41200161,1,10,0,1,5:41 PM,12:00,Jump Ball Koufos vs. Bogut: Tip to Lawson,NaN,NaN,...,Warriors,GSW,4.0,201951,Ty Lawson,1.610613e+09,Denver,Nuggets,DEN,0
2,41200161,2,2,42,1,5:42 PM,11:40,MISS Fournier Driving Layup,NaN,Bogut BLOCK (1 BLK),...,NaN,NaN,5.0,101106,Andrew Bogut,1.610613e+09,Golden State,Warriors,GSW,0
3,41200161,3,4,0,1,5:42 PM,11:39,NaN,NaN,Bogut REBOUND (Off:0 Def:1),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,41200161,4,2,1,1,5:42 PM,11:27,NaN,NaN,MISS Lee 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,41200111,135,1,1,2,3:42 PM,8:56,Shumpert 24' 3PT Jump Shot (3 PTS) (Kidd 1 AST),NaN,NaN,...,Knicks,NYK,0.0,0,NaN,NaN,NaN,NaN,NaN,0
996,41200111,136,9,1,2,3:42 PM,8:54,NaN,NaN,Celtics Timeout: Regular (Reg.2 Short 0),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
997,41200111,139,8,0,2,3:45 PM,8:54,NaN,NaN,SUB: Bradley FOR Crawford,...,Celtics,BOS,0.0,0,NaN,NaN,NaN,NaN,NaN,0
998,41200111,140,2,1,2,3:46 PM,8:31,Felton BLOCK (1 BLK),NaN,MISS Bradley 18' Jump Shot,...,NaN,NaN,4.0,101109,Raymond Felton,1.610613e+09,New York,Knicks,NYK,0
999,41200111,141,4,0,2,3:46 PM,8:30,NaN,NaN,Bradley REBOUND (Off:1 Def:0),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

Observamos el tipo de datos:

In [14]:
for columna in play_by_play_filtrado.columns:
    print(columna)
    print(play_by_play_filtrado[columna].describe())
    print('------------------------------------')

game_id
count    5.228811e+06
mean     2.255060e+07
std      5.638654e+06
min      1.130000e+07
25%      2.150026e+07
50%      2.170121e+07
75%      2.200103e+07
max      4.220040e+07
Name: game_id, dtype: float64
------------------------------------
eventnum
count    5.228811e+06
mean     3.095331e+02
std      1.858390e+02
min      0.000000e+00
25%      1.500000e+02
50%      3.040000e+02
75%      4.570000e+02
max      1.018000e+03
Name: eventnum, dtype: float64
------------------------------------
eventmsgtype
count    5.228811e+06
mean     3.985255e+00
std      2.694789e+00
min      1.000000e+00
25%      2.000000e+00
50%      4.000000e+00
75%      5.000000e+00
max      1.800000e+01
Name: eventmsgtype, dtype: float64
------------------------------------
eventmsgactiontype
count    5.228811e+06
mean     1.457754e+01
std      2.771428e+01
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.100000e+01
max      1.100000e+02
Name: eventmsgactiontype, dtype: float64
------------------------------------
period
count    5.228811e+06
mean     2.541165e+00
std      1.137520e+00
min      1.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      8.000000e+00
Name: period, dtype: float64
------------------------------------
wctimestring
count     5228811
unique       1305
top       9:01 PM
freq        26786
Name: wctimestring, dtype: object
------------------------------------
pctimestring
count     5228811
unique        721
top          0:00
freq       105799
Name: pctimestring, dtype: object
------------------------------------
homedescription
count             2710204
unique             932765
top       ROCKETS Rebound
freq                 3568
Name: homedescription, dtype: object
------------------------------------
neutraldescription
count                123844
unique                 8610
top       Timeout: Official
freq                   7672
Name: neutraldescription, dtype: object
------------------------------------
visitordescription
count             2676124
unique             922623
top       Rockets Rebound
freq                 3377
Name: visitordescription, dtype: object
------------------------------------
score
count     1379627
unique      11022
top         0 - 2
freq         4415
Name: score, dtype: object
------------------------------------
scoremargin
count     1379627
unique        146
top           TIE
freq        62281
Name: scoremargin, dtype: object
------------------------------------
person1type
count    5.226391e+06
mean     4.270490e+00
std      9.448882e-01
min      0.000000e+00
25%      4.000000e+00
50%      4.000000e+00
75%      5.000000e+00
max      7.000000e+00
Name: person1type, dtype: float64
------------------------------------
player1_id
count    5.228811e+06
mean     1.034494e+08
std      3.941057e+08
min      0.000000e+00
25%      2.019330e+05
50%      2.033820e+05
75%      1.627863e+06
max      1.966938e+09
Name: player1_id, dtype: float64
------------------------------------
player1_name
count          4781364
unique            2175
top       James Harden
freq             31194
Name: player1_name, dtype: object
------------------------------------
player1_team_id
count    4.776021e+06
mean     1.607758e+09
std      6.774593e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: player1_team_id, dtype: float64
------------------------------------
player1_team_city
count         4776021
unique             51
top       Los Angeles
freq           195292
Name: player1_team_city, dtype: object
------------------------------------
player1_team_nickname
count      4776021
unique          57
top       Warriors
freq        175624
Name: player1_team_nickname, dtype: object
------------------------------------
player1_team_abbreviation
count     4776021
unique         55
top           GSW
freq       175624
Name: player1_team_abbreviation, dtype: object
------------------------------------
person2type
count    5.228811e+06
mean     1.454825e+00
std      2.124342e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      4.000000e+00
max      7.000000e+00
Name: person2type, dtype: float64
------------------------------------
player2_id
count    5.228811e+06
mean     6.232844e+05
std      2.810524e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.015860e+05
max      1.966938e+09
Name: player2_id, dtype: float64
------------------------------------
player2_name
count          1689113
unique            1826
top       James Harden
freq             13017
Name: player2_name, dtype: object
------------------------------------
player2_team_id
count    1.689970e+06
mean     1.607648e+09
std      6.903961e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: player2_team_id, dtype: float64
------------------------------------
player2_team_city
count         1689970
unique             51
top       Los Angeles
freq            68129
Name: player2_team_city, dtype: object
------------------------------------
player2_team_nickname
count      1689970
unique          57
top       Warriors
freq         64958
Name: player2_team_nickname, dtype: object
------------------------------------
player2_team_abbreviation
count     1689970
unique         55
top           GSW
freq        64958
Name: player2_team_abbreviation, dtype: object
------------------------------------
person3type
count    5.228811e+06
mean     2.307886e-01
std      7.508940e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.000000e+00
Name: person3type, dtype: float64
------------------------------------
player3_id
count    5.228811e+06
mean     2.894021e+05
std      2.114105e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.962938e+09
Name: player3_id, dtype: float64
------------------------------------
player3_name
count            127045
unique             1415
top       Anthony Davis
freq               1369
Name: player3_name, dtype: object
------------------------------------
player3_team_id
count    1.270790e+05
mean     1.608737e+09
std      5.493270e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: player3_team_id, dtype: float64
------------------------------------
player3_team_city
count          127079
unique             49
top       Los Angeles
freq             5354
Name: player3_team_city, dtype: object
------------------------------------
player3_team_nickname
count       127079
unique          55
top       Warriors
freq          5270
Name: player3_team_nickname, dtype: object
------------------------------------
player3_team_abbreviation
count     127079
unique        53
top          GSW
freq        5270
Name: player3_team_abbreviation, dtype: object
------------------------------------
video_available_flag
count    5.228811e+06
mean     6.535786e-01
std      4.758294e-01
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: video_available_flag, dtype: float64
------------------------------------

# ____________________________________________________________

Abrimos y exploramos el Dataset de Lesiones_2013-2023

In [67]:
## creamos variable para alojar la ruta del archivo
ruta_archivo_lesionados_2013_2023 = r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones_2013-2023.csv'

df_lesionados_1323 = pd.read_csv(ruta_archivo_lesionados_2013_2023)

print(df_lesionados_1323.head())
print("Cantidad de filas y columnas: ", df_lesionados_1323.shape)

   PLAYER_ID    PLAYER_NAME SEASON  SEASON_NUM   AGE PLAYER_HEIGHT_INCHES  \
0    1630639    A.J. Lawson  22-23        22.5  22.0                   78
1    1631260       AJ Green  22-23        22.5  23.0                   77
2    1631100     AJ Griffin  22-23        22.5  19.0                   78
3     203932   Aaron Gordon  22-23        22.5  27.0                   80
4    1628988  Aaron Holiday  22-23        22.5  26.0                   72

  PLAYER_WEIGHT  GP   MIN  USG_PCT  ...  AVG_SEC_PER_TOUCH  \
0           179  13   4.8    0.182  ...               1.39
1           190  32   9.4    0.160  ...               2.61
2           220  66  19.4    0.174  ...               2.08
3           235  61  30.1    0.206  ...               2.94
4           185  57  13.7    0.128  ...               4.17

   AVG_DRIB_PER_TOUCH  ELBOW_TOUCHES  POST_TOUCHES  PAINT_TOUCHES     TEAM  \
0                0.62            0.0           0.0            0.2      NaN
1                1.84            0.1           0.0            0.3      NaN
2                1.49            0.4           0.0            0.7      NaN
3                2.11            1.8           2.1            6.8  Nuggets
4                3.82            0.1           0.0            0.4      NaN

   INJURED ON    RETURNED  DAYS MISSED    INJURED_TYPE
0         NaN         NaN          NaN             NaN
1         NaN         NaN          NaN             NaN
2         NaN         NaN          NaN             NaN
3  2023-02-02  2023-02-07          5.0  Sprained_ankle
4         NaN         NaN          NaN             NaN

[5 rows x 32 columns]
Cantidad de filas y columnas:  (5578, 32)

Vemos los tipos de datos y  estadisticas de cada columna.

In [43]:
for columna in df_lesionados_1323.columns:
    print(columna)
    print(df_lesionados_1323[columna].describe())
    print('------------------------------------')

PLAYER_ID
count    5.578000e+03
mean     7.789375e+05
std      7.189302e+05
min      7.080000e+02
25%      2.021300e+05
50%      2.035840e+05
75%      1.628399e+06
max      1.641645e+06
Name: PLAYER_ID, dtype: float64
------------------------------------
PLAYER_NAME
count             5578
unique            1389
top       Kemba Walker
freq                25
Name: PLAYER_NAME, dtype: object
------------------------------------
SEASON
count      5578
unique       10
top       21-22
freq        702
Name: SEASON, dtype: object
------------------------------------
SEASON_NUM
count    5578.000000
mean       18.241484
std         2.829290
min        13.500000
25%        15.500000
50%        18.500000
75%        20.500000
max        22.500000
Name: SEASON_NUM, dtype: float64
------------------------------------
AGE
count    5578.000000
mean       26.533883
std         4.253617
min        19.000000
25%        23.000000
50%        26.000000
75%        29.000000
max        43.000000
Name: AGE, dtype: float64
------------------------------------
PLAYER_HEIGHT_INCHES
count     5578
unique      42
top         81
freq       542
Name: PLAYER_HEIGHT_INCHES, dtype: object
------------------------------------
PLAYER_WEIGHT
count     5578
unique     219
top        220
freq       284
Name: PLAYER_WEIGHT, dtype: object
------------------------------------
GP
count    5578.000000
mean       48.663858
std        24.404703
min         1.000000
25%        30.000000
50%        55.000000
75%        69.000000
max        83.000000
Name: GP, dtype: float64
------------------------------------
MIN
count    5578.000000
mean       20.101040
std         9.422618
min         0.500000
25%        12.700000
50%        19.800000
75%        28.200000
max        43.500000
Name: MIN, dtype: float64
------------------------------------
USG_PCT
count    5578.000000
mean        0.182185
std         0.056190
min         0.000000
25%         0.144000
50%         0.175000
75%         0.215000
max         0.571000
Name: USG_PCT, dtype: float64
------------------------------------
PACE
count    5578.000000
mean      100.137996
std         4.453827
min        70.430000
25%        97.590000
50%        99.900000
75%       102.287500
max       150.790000
Name: PACE, dtype: float64
------------------------------------
POSS
count    5578.000000
mean     2333.993905
std      1668.032665
min         1.000000
25%       766.500000
50%      2244.500000
75%      3725.000000
max      6486.000000
Name: POSS, dtype: float64
------------------------------------
FGA_PG
count    5578.000000
mean        7.190229
std         4.808111
min         0.000000
25%         3.500000
50%         6.000000
75%        10.000000
max        24.500000
Name: FGA_PG, dtype: float64
------------------------------------
DRIVES
count    5578.000000
mean        3.479580
std         3.933021
min         0.000000
25%         0.700000
50%         2.000000
75%         4.800000
max        25.200000
Name: DRIVES, dtype: float64
------------------------------------
DRIVE_FGA
count    5578.000000
mean        1.503854
std         1.694576
min         0.000000
25%         0.300000
50%         0.900000
75%         2.100000
max        11.300000
Name: DRIVE_FGA, dtype: float64
------------------------------------
DRIVE_PASSES
count    5578.000000
mean        1.258498
std         1.581909
min         0.000000
25%         0.200000
50%         0.600000
75%         1.700000
max        12.200000
Name: DRIVE_PASSES, dtype: float64
------------------------------------
DIST_MILES
count     5578
unique     493
top       2.35
freq        39
Name: DIST_MILES, dtype: object
------------------------------------
AVG_SPEED
count     5578
unique     271
top       4.21
freq       110
Name: AVG_SPEED, dtype: object
------------------------------------
PULL_UP_FGA
count    5578.000000
mean        1.820868
std         2.210844
min         0.000000
25%         0.300000
50%         0.900000
75%         2.500000
max        13.700000
Name: PULL_UP_FGA, dtype: float64
------------------------------------
PULL_UP_FG3A
count     5578
unique      76
top        0.0
freq      1200
Name: PULL_UP_FG3A, dtype: object
------------------------------------
TOUCHES
count    5578.000000
mean       34.450717
std        20.905261
min         0.000000
25%        18.300000
50%        30.900000
75%        47.100000
max       113.300000
Name: TOUCHES, dtype: float64
------------------------------------
FRONT_CT_TOUCHES
count    5578.000000
mean       18.657153
std        10.792302
min         0.000000
25%        10.300000
50%        17.200000
75%        25.700000
max        58.000000
Name: FRONT_CT_TOUCHES, dtype: float64
------------------------------------
AVG_SEC_PER_TOUCH
count    5578.000000
mean        2.692180
std         1.294775
min         0.000000
25%         1.660000
50%         2.160000
75%         3.660000
max         7.590000
Name: AVG_SEC_PER_TOUCH, dtype: float64
------------------------------------
AVG_DRIB_PER_TOUCH
count    5578.000000
mean        1.879871
std         1.579300
min         0.000000
25%         0.580000
50%         1.250000
75%         3.030000
max         8.270000
Name: AVG_DRIB_PER_TOUCH, dtype: float64
------------------------------------
ELBOW_TOUCHES
count    5578.000000
mean        1.096307
std         1.370064
min         0.000000
25%         0.300000
50%         0.600000
75%         1.400000
max        15.200000
Name: ELBOW_TOUCHES, dtype: float64
------------------------------------
POST_TOUCHES
count    5578.000000
mean        0.862370
std         1.775437
min         0.000000
25%         0.000000
50%         0.100000
75%         0.900000
max        19.800000
Name: POST_TOUCHES, dtype: float64
------------------------------------
PAINT_TOUCHES
count    5578.000000
mean        1.972732
std         2.168288
min         0.000000
25%         0.500000
50%         1.100000
75%         2.600000
max        13.900000
Name: PAINT_TOUCHES, dtype: float64
------------------------------------
TEAM
count       1214
unique        30
top       Knicks
freq          70
Name: TEAM, dtype: object
------------------------------------
INJURED ON
count           1214
unique           756
top       2022-04-10
freq               9
Name: INJURED ON, dtype: object
------------------------------------
RETURNED
count           1214
unique           736
top       2020-08-12
freq               7
Name: RETURNED, dtype: object
------------------------------------
DAYS MISSED
count    1214.000000
mean        8.752059
std        18.313393
min         1.000000
25%         2.000000
50%         4.000000
75%         8.000000
max       282.000000
Name: DAYS MISSED, dtype: float64
------------------------------------
INJURED_TYPE
count               1214
unique                 5
top       Sprained_ankle
freq                 588
Name: INJURED_TYPE, dtype: object
------------------------------------

Guardamos dataset por si a caso.

In [70]:
df_lesionados_1323.to_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones_2013-2023.csv', index=False)

# ______________________________________________________________

Abrimos el dataset Lesiones_2010-2020

In [48]:
## creamos variable para alojar la ruta del archivo
ruta_archivo_lesionados_2010_2020 = r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones_2010-2020.csv'

df_lesionados_1020 = pd.read_csv(ruta_archivo_lesionados_2010_2020)

print(df_lesionados_1020.head())
print("Cantidad de filas y columnas: ", df_lesionados_1020.shape)

       Date     Team         Nombre Acquired   Relinquished  \
0  03-10-10    Bulls  Carlos Boozer      NaN  Carlos Boozer
1  06-10-10  Pistons  Jonas Jerebko      NaN  Jonas Jerebko
2  06-10-10  Pistons  Terrico White      NaN  Terrico White
3  08-10-10  Blazers     Jeff Ayres      NaN     Jeff Ayres
4  08-10-10     Nets    Troy Murphy      NaN    Troy Murphy

                                               Notes      ID
0  fractured bone in right pinky finger (out inde...    2430
1      torn right Achilles tendon (out indefinitely)  201973
2  broken fifth metatarsal in right foot (out ind...  202358
3          torn ACL in right knee (out indefinitely)  201965
4             strained lower back (out indefinitely)    2211
Cantidad de filas y columnas:  (27105, 7)

Convertimos los datos de fecha a tipo fecha:

In [59]:
# Convertimos al formato fecha.
df_lesionados_1020['Date'] = pd.to_datetime(df_lesionados_1020['Date'], errors='coerce')
df_lesionados_1020['Date'] = pd.to_datetime(df_lesionados_1020['Date'], format='%y-%m-%d')


print(df_lesionados_1020['Date'].dtype)
print(df_lesionados_1020['Date'].head(10000)) 
print(df_lesionados_1020['Date'].isnull().sum())

datetime64[ns]
0      2010-03-10
1      2010-06-10
2      2010-06-10
3      2010-08-10
4      2010-08-10
          ...
9995   2014-05-04
9996   2014-06-04
9997   2014-06-04
9998   2014-06-04
9999   2014-06-04
Name: Date, Length: 10000, dtype: datetime64[ns]
0

Vemos los tipos de datos y  estadisticas de cada columna.

In [60]:
for columna in df_lesionados_1020.columns:
    print(columna)
    print(df_lesionados_1020[columna].describe())
    print('------------------------------------')

Date
count                            27105
mean     2015-09-05 05:46:29.551743232
min                2010-01-11 00:00:00
25%                2013-04-01 00:00:00
50%                2015-11-18 00:00:00
75%                2017-12-27 00:00:00
max                2020-12-09 00:00:00
Name: Date, dtype: object
------------------------------------
Team
count     27103
unique       32
top       Spurs
freq       1163
Name: Team, dtype: object
------------------------------------
Nombre
count          27101
unique          1158
top       Kevin Love
freq             139
Name: Nombre, dtype: object
------------------------------------
Acquired
count            9542
unique           1111
top       Dwyane Wade
freq               54
Name: Acquired, dtype: object
------------------------------------
Relinquished
count          17560
unique          1156
top       Kevin Love
freq             101
Name: Relinquished, dtype: object
------------------------------------
Notes
count                 27105
unique                 3114
top       activated from IL
freq                   7342
Name: Notes, dtype: object
------------------------------------
ID
count      27105
unique      1148
top       201567
freq         139
Name: ID, dtype: object
------------------------------------

Filtramos el dataset y eliminamos las fechas anteriores a 2012-10-30

In [65]:
# Filtrar el DataFrame para que queden solo con las fechas desde el 30-10-2012 en adelante
df_lesionados_1020_filtrado = df_lesionados_1020[df_lesionados_1020['Date'] > '2012-10-30']

# Mostramos el dataset:
print(df_lesionados_1020_filtrado.head())
print(df_lesionados_1020_filtrado.shape)

           Date     Team            Nombre      Acquired      Relinquished  \
2917 2012-11-01    76ers     Spencer Hawes           NaN     Spencer Hawes
2918 2012-11-01  Blazers      Luke Babbitt  Luke Babbitt               NaN
2919 2012-11-01    Bulls       C.J. Watson           NaN       C.J. Watson
2920 2012-11-01    Bulls      Derrick Rose           NaN      Derrick Rose
2921 2012-11-01    Bulls  Richard Hamilton           NaN  Richard Hamilton

                                      Notes      ID
2917              strained lower back (DNP)  201150
2918                              activated  202337
2919  placed on IL with sprained left elbow  201228
2920            sprained left big toe (DNP)  201565
2921                  sore left groin (DNP)    1888
(21923, 7)

Guardamos Dataset

In [66]:
df_lesionados_1020_filtrado.to_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones_2010-2020.csv', index=False)

# _________________________________________________________________

UNION DE lesiones_1020 y lesiones_1323 en un nuevo dataset, que se llamará: Lesiones

Abrimos ambos datasets.

In [82]:


# Cargar los archivos
df_2010_2020 = pd.read_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones_2010-2020.csv')
df_2013_2023 = pd.read_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones_2013-2023.csv')


# Revisamos los nombres de cada una de sus columnas.
print(df_2010_2020.columns)
print("\n")
print(df_2013_2023.columns)

print(df_2010_2020[['ID']].head())
print("\n")
print(df_2013_2023[['PLAYER_ID']].head())

Index(['Date', 'Team', 'Nombre', 'Acquired', 'Relinquished', 'Notes', 'ID'], dtype='object')


Index(['PLAYER_ID', 'PLAYER_NAME', 'SEASON', 'SEASON_NUM', 'AGE',
       'PLAYER_HEIGHT_INCHES', 'PLAYER_WEIGHT', 'GP', 'MIN', 'USG_PCT', 'PACE',
       'POSS', 'FGA_PG', 'DRIVES', 'DRIVE_FGA', 'DRIVE_PASSES', 'DIST_MILES',
       'AVG_SPEED', 'PULL_UP_FGA', 'PULL_UP_FG3A', 'TOUCHES',
       'FRONT_CT_TOUCHES', 'AVG_SEC_PER_TOUCH', 'AVG_DRIB_PER_TOUCH',
       'ELBOW_TOUCHES', 'POST_TOUCHES', 'PAINT_TOUCHES', 'TEAM', 'INJURED ON',
       'RETURNED', 'DAYS MISSED', 'INJURED_TYPE'],
      dtype='object')
       ID
0  201150
1  202337
2  201228
3  201565
4    1888


   PLAYER_ID
0    1630639
1    1631260
2    1631100
3     203932
4    1628988

Convertimos los Datos de ID y PLAYER_ID en str, porque puede haber valores no numericos o raro.

In [84]:
df_2010_2020['ID'] = df_2010_2020['ID'].astype(str)
df_2013_2023['PLAYER_ID'] = df_2013_2023['PLAYER_ID'].astype(str)

Vamos a unir ambos dataset a travez de ID y PLAYER_ID

In [85]:
# Hacemos el merge por ID de ambos datasets
# how='inner': solo quedarán los registros que tengan coincidencia en ambos datasets.
# Si querés mantener todos los de uno y solo los que coincidan del otro, usá left o right.

df_unido = pd.merge(
    df_2010_2020, 
    df_2013_2023, 
    left_on='ID', 
    right_on='PLAYER_ID',
    how='inner'  # Cambiá a 'outer', 'left' o 'right' según lo que quieras lograr
)

#Mostramos
print(df_unido.shape)
print(df_unido.head())

(143117, 39)
         Date     Team         Nombre      Acquired   Relinquished  \
0  2012-11-01    76ers  Spencer Hawes           NaN  Spencer Hawes
1  2012-11-01    76ers  Spencer Hawes           NaN  Spencer Hawes
2  2012-11-01    76ers  Spencer Hawes           NaN  Spencer Hawes
3  2012-11-01    76ers  Spencer Hawes           NaN  Spencer Hawes
4  2012-11-01  Blazers   Luke Babbitt  Luke Babbitt            NaN

                       Notes      ID PLAYER_ID    PLAYER_NAME SEASON  ...  \
0  strained lower back (DNP)  201150    201150  Spencer Hawes  16-17  ...
1  strained lower back (DNP)  201150    201150  Spencer Hawes  15-16  ...
2  strained lower back (DNP)  201150    201150  Spencer Hawes  14-15  ...
3  strained lower back (DNP)  201150    201150  Spencer Hawes  13-14  ...
4                  activated  202337    202337   Luke Babbitt  17-18  ...

   AVG_SEC_PER_TOUCH  AVG_DRIB_PER_TOUCH ELBOW_TOUCHES POST_TOUCHES  \
0               1.77                0.70           1.9          1.3
1               1.67                0.62           1.7          1.6
2               1.51                0.40           1.5          1.1
3               1.61                0.45           3.5          3.0
4               1.54                0.62           0.4          0.1

   PAINT_TOUCHES  TEAM  INJURED ON  RETURNED  DAYS MISSED  INJURED_TYPE
0            3.0   NaN         NaN       NaN          NaN           NaN
1            3.0   NaN         NaN       NaN          NaN           NaN
2            1.7   NaN         NaN       NaN          NaN           NaN
3            5.3   NaN         NaN       NaN          NaN           NaN
4            0.4   NaN         NaN       NaN          NaN           NaN

[5 rows x 39 columns]

Vemos valores no numericos en ID

In [86]:
mask_no_numericos = ~df_2010_2020['ID'].astype(str).str.isnumeric()
print(df_2010_2020[mask_no_numericos]['ID'].value_counts())

ID
NoEncontrado    20
Name: count, dtype: int64

Vemos los tipos de datos:

In [87]:
for columna in df_unido.columns:
    print(columna)
    print(df_unido[columna].describe())
    print('------------------------------------')

Date
count         143117
unique          1715
top       2017-12-04
freq             594
Name: Date, dtype: object
------------------------------------
Team
count       143113
unique          31
top       Warriors
freq          6243
Name: Team, dtype: object
------------------------------------
Nombre
count           143117
unique             939
top       Derrick Rose
freq              2185
Name: Nombre, dtype: object
------------------------------------
Acquired
count            54280
unique             911
top       Derrick Rose
freq               805
Name: Acquired, dtype: object
------------------------------------
Relinquished
count            88843
unique             936
top       Derrick Rose
freq              1380
Name: Relinquished, dtype: object
------------------------------------
Notes
count                143117
unique                 2546
top       activated from IL
freq                  37506
Name: Notes, dtype: object
------------------------------------
ID
count     143117
unique       938
top       201565
freq        2185
Name: ID, dtype: object
------------------------------------
PLAYER_ID
count     143117
unique       938
top       201565
freq        2185
Name: PLAYER_ID, dtype: object
------------------------------------
PLAYER_NAME
count           143117
unique             938
top       Derrick Rose
freq              2185
Name: PLAYER_NAME, dtype: object
------------------------------------
SEASON
count     143117
unique        10
top        16-17
freq       17214
Name: SEASON, dtype: object
------------------------------------
SEASON_NUM
count    143117.000000
mean         17.610483
std           2.649321
min          13.500000
25%          15.500000
50%          17.500000
75%          19.500000
max          22.500000
Name: SEASON_NUM, dtype: float64
------------------------------------
AGE
count    143117.000000
mean         28.179231
std           4.299180
min          19.000000
25%          25.000000
50%          28.000000
75%          31.000000
max          43.000000
Name: AGE, dtype: float64
------------------------------------
PLAYER_HEIGHT_INCHES
count     143117
unique        40
top           81
freq       14449
Name: PLAYER_HEIGHT_INCHES, dtype: object
------------------------------------
PLAYER_WEIGHT
count     143117
unique       201
top          220
freq        8356
Name: PLAYER_WEIGHT, dtype: object
------------------------------------
GP
count    143117.000000
mean         54.424974
std          20.955385
min           1.000000
25%          41.000000
50%          60.000000
75%          71.000000
max          83.000000
Name: GP, dtype: float64
------------------------------------
MIN
count    143117.000000
mean         23.536114
std           8.711073
min           0.500000
25%          17.000000
50%          24.900000
75%          31.100000
max          39.900000
Name: MIN, dtype: float64
------------------------------------
USG_PCT
count    143117.000000
mean          0.195099
std           0.058638
min           0.000000
25%           0.152000
50%           0.188000
75%           0.233000
max           0.500000
Name: USG_PCT, dtype: float64
------------------------------------
PACE
count    143117.000000
mean         99.396517
std           3.838620
min          80.000000
25%          97.070000
50%          99.270000
75%         101.520000
max         150.790000
Name: PACE, dtype: float64
------------------------------------
POSS
count    143117.000000
mean       2851.497726
std        1581.752545
min           1.000000
25%        1576.000000
50%        2970.000000
75%        4145.000000
max        6486.000000
Name: POSS, dtype: float64
------------------------------------
FGA_PG
count    143117.000000
mean          8.876790
std           5.084001
min           0.000000
25%           4.800000
50%           8.000000
75%          12.500000
max          24.500000
Name: FGA_PG, dtype: float64
------------------------------------
DRIVES
count    143117.000000
mean          4.231362
std           4.299984
min           0.000000
25%           0.900000
50%           2.500000
75%           6.300000
max          25.200000
Name: DRIVES, dtype: float64
------------------------------------
DRIVE_FGA
count    143117.000000
mean          1.819798
std           1.817115
min           0.000000
25%           0.400000
50%           1.200000
75%           2.800000
max          11.300000
Name: DRIVE_FGA, dtype: float64
------------------------------------
DRIVE_PASSES
count    143117.000000
mean          1.494806
std           1.726501
min           0.000000
25%           0.200000
50%           0.800000
75%           2.300000
max          12.200000
Name: DRIVE_PASSES, dtype: float64
------------------------------------
DIST_MILES
count     143117
unique       476
top         2.35
freq        1467
Name: DIST_MILES, dtype: object
------------------------------------
AVG_SPEED
count     143117
unique       257
top         4.15
freq        3290
Name: AVG_SPEED, dtype: object
------------------------------------
PULL_UP_FGA
count    143117.000000
mean          2.396546
std           2.504545
min           0.000000
25%           0.400000
50%           1.500000
75%           3.700000
max          13.700000
Name: PULL_UP_FGA, dtype: float64
------------------------------------
PULL_UP_FG3A
count     143117
unique        76
top          0.0
freq       29266
Name: PULL_UP_FG3A, dtype: object
------------------------------------
TOUCHES
count    143117.000000
mean         42.179226
std          21.247377
min           0.000000
25%          25.600000
50%          39.300000
75%          57.300000
max         101.000000
Name: TOUCHES, dtype: float64
------------------------------------
FRONT_CT_TOUCHES
count    143117.000000
mean         23.064613
std          11.179768
min           0.000000
25%          14.500000
50%          22.300000
75%          30.700000
max          58.000000
Name: FRONT_CT_TOUCHES, dtype: float64
------------------------------------
AVG_SEC_PER_TOUCH
count    143117.000000
mean          2.774203
std           1.312797
min           0.000000
25%           1.680000
50%           2.280000
75%           3.850000
max           7.590000
Name: AVG_SEC_PER_TOUCH, dtype: float64
------------------------------------
AVG_DRIB_PER_TOUCH
count    143117.000000
mean          1.938077
std           1.606660
min           0.000000
25%           0.580000
50%           1.290000
75%           3.200000
max           7.080000
Name: AVG_DRIB_PER_TOUCH, dtype: float64
------------------------------------
ELBOW_TOUCHES
count    143117.000000
mean          1.447279
std           1.584033
min           0.000000
25%           0.400000
50%           0.900000
75%           1.900000
max          15.200000
Name: ELBOW_TOUCHES, dtype: float64
------------------------------------
POST_TOUCHES
count    143117.000000
mean          1.385767
std           2.370243
min           0.000000
25%           0.100000
50%           0.300000
75%           1.600000
max          19.800000
Name: POST_TOUCHES, dtype: float64
------------------------------------
PAINT_TOUCHES
count    143117.000000
mean          2.404076
std           2.370776
min           0.000000
25%           0.700000
50%           1.500000
75%           3.400000
max          13.900000
Name: PAINT_TOUCHES, dtype: float64
------------------------------------
TEAM
count      42844
unique        30
top       Knicks
freq        2980
Name: TEAM, dtype: object
------------------------------------
INJURED ON
count          42844
unique           727
top       2019-04-09
freq             318
Name: INJURED ON, dtype: object
------------------------------------
RETURNED
count          42844
unique           714
top       2020-08-12
freq             299
Name: RETURNED, dtype: object
------------------------------------
DAYS MISSED
count    42844.000000
mean         7.390113
std         15.876663
min          1.000000
25%          2.000000
50%          4.000000
75%          7.000000
max        282.000000
Name: DAYS MISSED, dtype: float64
------------------------------------
INJURED_TYPE
count              42844
unique                 5
top       Sprained_ankle
freq               18187
Name: INJURED_TYPE, dtype: object
------------------------------------

Guardamos Dataset como Lesiones.csv

In [88]:
df_unido.to_csv(r'C:\Users\Fernando\Desktop\CSV de NBA\Lesiones.csv', index=False)