Tabla Player Stats

In [10]:
import pandas as pd 
import numpy as np

In [11]:
player_stats = pd.read_csv(r"C:\Users\mcatvd01\Desktop\Henry\Tabla Player Stats - other_stats.csv")

In [12]:
player_stats.head()

,id_del_partido,id_equipo_local,nombre_equipo_local,ciudad_equipo_local,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,...,nombre_equipo_visitante,ciudad_equipo_visitante,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,1610612756,PHX,Phoenix,44,18,2,1,4,1,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,1610612737,ATL,Atlanta,32,9,6,0,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,1610612739,CLE,Cleveland,36,14,6,20,1,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,1610612754,IND,Indiana,34,11,4,10,7,4,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,1610612746,LAC,Los Angeles,40,19,2,12,5,4,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

In [13]:
np.shape(player_stats)

(28271, 25)

In [14]:
player_stats.isnull().sum()

id_del_partido                0
id_equipo_local               0
nombre_equipo_local           0
ciudad_equipo_local           0
pts_paint_home                0
pts_2nd_chance_home           0
pts_fb_home                   0
largest_lead_home             0
lead_changes                  0
times_tied                    0
team_turnovers_home           2
total_turnovers_home        316
team_rebounds_home         1998
pts_off_to_home            2123
id_equipo_visitante           0
nombre_equipo_visitante       0
ciudad_equipo_visitante       0
pts_paint_away                0
pts_2nd_chance_away           0
pts_fb_away                   0
largest_lead_away             0
team_turnovers_away           2
total_turnovers_away        316
team_rebounds_away         1998
pts_off_to_away            2123
dtype: int64

In [15]:
player_stats.columns

Index(['id_del_partido', 'id_equipo_local', 'nombre_equipo_local',
       'ciudad_equipo_local', 'pts_paint_home', 'pts_2nd_chance_home',
       'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied',
       'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home',
       'pts_off_to_home', 'id_equipo_visitante', 'nombre_equipo_visitante',
       'ciudad_equipo_visitante', 'pts_paint_away', 'pts_2nd_chance_away',
       'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
       'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'],
      dtype='object')

In [16]:
player_stats.to_csv("player_stats.csv", index=False)